:host {
  display: flex;
  background: #f1f1f1;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #000;
  background: #267373;
}
.children {
  display: flex;
}
pre {
  width: 100%;
}